.footer{
    background: #000;
    height: 100px;
    &__wrapper{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__image{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 10px;
        font-weight: 300;
        color: #fff;
    }
    &__img{
        padding: 15px 0;
        width: 200px;
    }
    &__text{
        display: flex;
        gap: 20px;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
    h5:hover{
        text-decoration: underline;
        transition: .3s;
    }
    h5:active{
        transform: scale(.96);
    }
}